/* .info_card {
  position: absolute;
  display: flex;
  justify-content: space-around;
  gap: 2rem;
  height: 200px;
  width: 80%;
  z-index: 1000;
  top: 200px;
  left: 50%;
  margin-left: -40%;
  border-radius: 15px;
  padding: 2.5rem;
}

@media only screen and (max-width: 600px) {
  .info_card {
    display: block;
  }
} */
